---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.wrapper_new {
    margin: 0 auto; /* 中央揃え */
    max-width: 1200px; /* 最大幅を設定 */
    padding: 0px; /* 内側の余白を設定 */
    background-color: #f8f9fa; /* 背景色を設定 */
    display: flex; /* フレックスボックスを使用 */
    white-space: nowrap; /* 改行を防ぐ */
    text-align: center; /* テキストを中央揃えに */
  }
